:root {
  // palette1
  --dark1: #311b92;
  --medium1: #673ab7;
  --ligth1: #d1c4e9;

  // palette2
  --dark2: #75ccb9;
  --medium2: #a7ffeb;
  --ligth2: #dbffff;
  // greyscale
  --basicDark: #444444;
  --basicMedium: #7a7979;
  --basicLigth: #f7f7f7;

  // palette 3
  --primary: ;
}

body {
  background-image: url(../../src/images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// container emoji
.supDay {
  height: 50px;
}

// mediaqueries
@media all and (min-width: 720px) {
  .mainContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
