:root {
  // palette1
  --dark1: #c85a54;
  --medium1: #ff8a80;
  --ligth1: #ffbcaf;

  // palette2
  --dark2: #75ccb9;
  --medium2: #a7ffeb;
  --ligth2: #dbffff;
  // greyscale
  --basicDark: #444444;
  --basicMedium: #7a7979;
  --basicLigth: #f7f7f7;

  // palette 3
  --primary: ;
}
.mainContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // background-color: var(--ligth2);
}
body {
  background-image: url(../../src/images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background: linear-gradient(-45deg, var(--ligth2), var(--ligth1));
  // background-size: 400% 400%;
  // -webkit-animation: gradient 15s ease infinite;
  // animation: gradient 15s ease infinite;
}
.supDay {
  height: 50px;
}
// animation background calendar
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media all and (min-width: 720px) {
  .mainContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
