.containerSchedule {
  background-color: var(--ligth);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2em;
  box-shadow: 2px 2px 3px var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.schedule {
  width: 400px;
  font-size: 16px;
  font-weight: bold;
  color: var(--medium);
}
.DayPicker-Body {
  padding: 30px;
}
