.containerSchedule {
  background-color: var(--ligth);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2em;
  box-shadow: 2px 2px 3px var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.schedule {
  width: 60%;
  font-size: 16px;
  font-weight: bold;
  color: var(--dark);
}
// .DayPicker-Body {
//   padding: 30px;
// }

.DayPicker-Day {
  display: table-cell;
  vertical-align: text-top;
}

.DayPicker {
  width: 100%;
}

.DayPicker-Week,
.DayPicker-WeekdaysRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.DayPicker-Body {
  display: grid;
  grid-auto-rows: min-content;
}

.DayPicker-Caption {
  align-self: flex-start;
}

.DayPicker-Month {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DayPicker-Weekdays {
  width: 100%;
}
